/* ---------------------------------------- Tema claro ------------------------------------------ */
:root {
  /* Tema Claro */
  --Color_Cuerpo: hsl(0, 0%, 100%);
  --Color_Cabecera: hsl(225, 100%, 98%);
  --Color_Tarjeta: hsl(227, 47%, 96%);
  --Color_Texto: hsl(228, 12%, 44%);
  --Letra: hsl(230, 17%, 14%);

  --Color_hover: hsl(227, 47%, 91%);

  --left: 4px;
  --camino: 1.5rem;

  --boton1: hsl(230, 22%, 74%);
  --boton1_1: hsl(230, 22%, 74%);

  --boton2: hsl(210, 78%, 56%);
  --boton3: hsl(146, 68%, 55%);
}

.cambio_oscuro {
  /* Tema Oscuro */
  --Color_Cuerpo: hsl(230, 17%, 14%);
  --Color_Cabecera: hsl(232, 19%, 15%);
  --Color_Tarjeta: hsl(228, 28%, 20%);
  --Color_Texto: hsl(228, 34%, 66%);
  --Letra: hsl(0, 0%, 100%);

  --Color_hover: hsl(228, 28%, 28%);

  --left: 28px;
  --camino: -1.5rem;

  --boton1: hsl(210, 78%, 56%);
  --boton1_1: hsl(146, 68%, 55%);

  --boton2: hsl(230, 22%, 74%);
  --boton3: hsl(230, 22%, 74%);
}

/* ---------------------------------------- Tema oscuro ------------------------------------------ */
@media (prefers-color-scheme: dark) {
  :root {
    /* Tema Oscuro */
    --Color_Cuerpo: hsl(230, 17%, 14%);
    --Color_Cabecera: hsl(232, 19%, 15%);
    --Color_Tarjeta: hsl(228, 28%, 20%);
    --Color_Texto: hsl(228, 34%, 66%);
    --Letra: hsl(0, 0%, 100%);

    --Color_hover: hsl(228, 28%, 28%);

    --left: 28px;
    --camino: -1.5rem;

    --boton1: hsl(210, 78%, 56%);
    --boton1_1: hsl(146, 68%, 55%);

    --boton2: hsl(230, 22%, 74%);
    --boton3: hsl(230, 22%, 74%);
  }

  .cambio_claro {
    --Color_Cuerpo: hsl(0, 0%, 100%);
    --Color_Cabecera: hsl(225, 100%, 98%);
    --Color_Tarjeta: hsl(227, 47%, 96%);
    --Color_Texto: hsl(228, 12%, 44%);
    --Letra: hsl(230, 17%, 14%);

    --Color_hover: hsl(227, 47%, 91%);

    --left: 4px;
    --camino: 1.5rem;

    --boton1: hsl(230, 22%, 74%);
    --boton1_1: hsl(230, 22%, 74%);

    --boton2: hsl(210, 78%, 56%);
    --boton3: hsl(146, 68%, 55%);
  }
}
